*{
	margin: 0;
	padding: 0;
}
.SignInPage{
	height: 100%;
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(D:\Files\fast-n-fresh\client\public\signinbg.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.SignIn{
	width: 300px;
	height: 400px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5%;
}

.button-box{
	width: 180px;
	margin: 15px auto;
	position: relative;
	box-shadow: 0 0 15px 5px rgb(202, 200, 200);
	border-radius: 30px;
}

.toggle-btn{
	padding: 5px 20px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

.bttn{
	top: 0;
	left: 0;
	position: absolute;
	width: 60px;
	height: 100%;
	background: linear-gradient(to right, rgb(160, 25, 25), rgb(194, 26, 26));
	border-radius: 5px;
	transition: .5s;
}
