* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  height: 100vh;
  background-size: cover;
}
ul {
  margin-top: 1.5625em;
  float: right;
  list-style-type: none;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #000;
  padding: 0.5625em 1.25em;
  border: 0.0625em solid transparent;
  transition: 0.6s ease;
}
ul li a:hover {
  background-color: #000;
  color: #fff;
}
ul li.active a {
  background-color: #000;
  color: #fff;
}

ul ul {
  margin-top: 0.75em;
  position: absolute;
  background: transparent;
  display: none;
}

ul ul li {
  float: none;
  width: 6.25em;
}

ul li:hover > ul {
  display: block;
}

.logo img {
  float: left;
  width: 8.75em;
  height: auto;
  cursor: pointer;
}
.main {
  max-width: 75em;
  margin: auto;
}
.title {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #000;
  font-size: 4.375em;
}
.button {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.0625em solid #000;
  padding: 0.625em 1.875em;
  color: #000;
  background-color: transparent;
  transition: 0.6s ease;
  height: 4.75%;
}

.button:hover {
  background-color: #000;
  color: #fff;
}
